@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  border: none;
  padding: 0;
}

:root {
  --primary-color: #dddada;
  --secondary-color: #f7b71d;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

.links {
  background-color: #3b3b3b;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.links a img {
  max-width: 60px;
  max-height: 60px;
  position: absolute;
  right: 320px;
  top: -16px;
}

.links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a:hover {
  color: var(--secondary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0px;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}

/* card */

.card {
  background-color: white;
  width: 800px;
  min-height: 600px;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.avatar-url {
  animation-name: up;
  animation-duration: 8s00ms;
  animation-timing-function: ease;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateX(-16px);
  }
  to {
    opacity: 1;
  }
}

.details {
  padding: 32px;
}

.details .item {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  letter-spacing: 0.8px;
}

.details .item:last-child {
  border: none;
}

.details .item div:nth-child(1) {
  color: #777;
  font-size: 16px;
}

.details .item div:nth-child(2) {
  color: #3b3b3b;
  font-size: 18px;
  margin-top: 6px;
}

.details .item span {
  background-color: var(--secondary-color);
  padding: 8px 12px;
  border-radius: 16px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2px;
}

.details h3 {
  color: var(--secondary-color);
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 8px;
}

input {
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #3b3b3b;
}

input[type="radio"] {
  width: initial;
  margin-right: 6px;
}

input::placeholder {
  font-size: 16px;
  color: #8d8d8d;
}
a.edit {
  padding: 16px 32px;
  font-size: 16px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  width: 100%;
  margin-top: 18px;
}

select {
  width: 100%;
  padding: 16px 32px;
  font-size: 18px;
  outline: none;
  background-color: var(--secondary-color);
}
section{
  position: relative;
}
.button-salvar {
  width: 49%;
  padding: 16px 32px;
  font-size: 16px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  margin-top: 18px;
}

option {
  background-color: var(--primary-color);
}

a.edit {
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #111;
}

.delete-button {
  background-color: #f03e62;
  color: white;
  position: absolute;
  bottom: 32px;
  right: 12px;
  width: 45%;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 18px;
  
}
