@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  border: none;
  padding: 0;
}

:root {
  --primary-color: #dddada;
  --secondary-color: #bdbd04;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

.links {
  background-color: #3b3b3b;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}

.links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a:hover {
  color: var(--secondary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0px;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}
