<div class="item">
    <div>Avatar url</div>
    <div>
        <input type="text" name="avatar_url" placeholder="http://" value="{{student.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Nome Completo</div>
    <div>
        <input type="text" name="name" placeholder="Insira seu nome" value="{{student.name}}">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{student.birth}}">
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input type="email" name="email" value="{{student.email}}">
    </div>
</div>

<div class="item">
    <div>Ano Escolar</div>
    <div>
        <select name="formations" ">
            <option value="5º ano Fundamental" {%if student.formation == "5º ano Fundamental"%} selected="selected" {% endif %}>5º ano Fundamental</option>
            <option value="6º ano Fundamental" {%if student.formation == "6º ano Fundamental"%} selected="selected" {% endif %}>6º ano Fundamental</option>
            <option value="7º ano Fundamental" {%if student.formation == "7º ano Fundamental"%} selected="selected" {% endif %}>7º ano Fundamental</option>
            <option value="8º ano Fundamental" {%if student.formation == "8º ano Fundamental"%} selected="selected" {% endif %}>8º ano Fundamental</option>
            <option value="1º ano Médio" {%if student.formation == "1º ano Médio"%} selected="selected" {% endif %}>1º ano Médio</option>
            <option value="2º ano Médio" {%if student.formation == "2º ano Médio"%} selected="selected" {% endif %}>2º ano Médio</option>
            <option value="3º ano Médio" {%if student.formation == "3º ano Médio"%} selected="selected" {% endif %}>3º ano Médio</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga Horária</div>
    <div>
        <input type="number" name="grade" placeholder="horas" value="{{student.grade}}">
    </div>
</div>

<button class="button-salvar" type="submit">Salvar</button>