<div class="item">
    <div>Avatar url</div>
    <div>
        <input type="text" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Nome Completo</div>
    <div>
        <input type="text" name="name" placeholder="Insira seu nome" value="{{teacher.name}}">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{teacher.birth}}">
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        <select name="formations">
            <option value="Ensino Médio Completo" {%if teacher.formations == 'Ensino Médio Completo' %} selected="selected" {% endif %}>Ensino Médio Completo</option>
            <option value="Ensino Superior Completo" {% if teacher.formations == 'Ensino Superior Completo' %} selected="selected" {% endif %}>Ensino Superior Completo</option>
            <option value="Mestrado" {%if teacher.formations == "Mestrado" %} selected="selected" {% endif %}>Mestrado</option>
            <option value="Doutorado" {%if teacher.formations == "Doutorado" %} selected="selected" {% endif %}>Doutorado</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>

        <span>
            <input type="radio" name="classes" value="P" {% if teacher.classes == "P" %} checked="checked" {% endif %}>Presencial
        </span>
        <span>
            <input type="radio" name="classes" value="D" {% if teacher.classes == "D" %} checked="checked" {% endif %}>Distância
        </span>
    </div>
</div>

<div class="item">
    <div>Area de atuação</div>
    <div>
        <input type="text" name="services" placeholder="Insira entre vírgulas suas áreas de atuações" value="{{teacher.services}}">
    </div>
</div>

<button class="button-salvar" type="submit">Salvar</button>